:root {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  align-items: start;
}

.wrapper > * {
  flex-basis: 100%;
  position: relative;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 0.6em;
}

/* overlay styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background-color: hsla(0, 0%, 0%, 0.5);
  cursor: pointer;
}

.overlay.hide {
  display: none;
}
/* overlay styles */

/* header styles */
.header {
  background-color: hsl(0, 0%, 26%);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-basket {
  position: relative;
  padding: 0.3125em;
  min-width: 4.375em;
  text-align: center;
}

.header-basket__icon {
  font-size: 1.875em;
  color: hsl(102, 35%, 54%);
  transition: color 0.2s ease-in-out;
  padding: 0.3125em;
}
.header-basket__icon:hover {
  color: hsl(112, 55%, 74%);
}

.header-basket__counter {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  color: hsl(0, 0%, 100%);
  font-size: 0.625em;
  font-weight: 500;
  border-radius: 50%;
  background-color: hsl(112, 55%, 74%);
  width: 1.25rem;
  height: 1.25rem;
  user-select: none;
  position: absolute;
  top: 0.9rem;
  left: 2.7rem;
}
/* header styles */

/* main styles */
.main {
  padding: 1em 0;
}

.books {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-evenly;
}

.books-item {
  max-width: 14rem;
  width: 100%;
  cursor: pointer;
  border-radius: 0.4375rem;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  padding: 0.5em;
}

.books-item:hover,
.books-item:focus {
  box-shadow: 0.1875rem 0.125rem 0.625rem hsla(102, 35%, 54%, 0.9);
}

.books-item:hover .books-item__cover-img {
  transform: scale(1.08);
}

.books-item__cover {
  overflow: hidden;
}

.books-item__cover-img {
  display: block;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.books-item__description-title,
.books-item__description-author {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.books-item__description-title,
.books-item__description-price {
  margin: 0.4em 0;
}

.books-item__controls {
  display: flex;
  justify-content: space-between;
}

.books-item__controls-btn {
  border: 0;
  padding: 0.4em 0.5em;
  color: hsl(0, 0%, 100%);
  border-radius: 0.2em;
  font-size: 1em;
  font-weight: 700;
  background-color: hsl(102, 35%, 54%);
  cursor: pointer;
  transition: background 0.3s ease-in;
}

.books-item__controls-btn:hover,
.books-item__controls-btn:focus {
  background-color: hsl(102, 41%, 39%);
}
/* main styles */

/* footer styles */
.footer {
  background-color: hsl(120, 5%, 25%);
  color: hsl(0, 0%, 83%);
  padding: 0.3125em 0;
  text-align: center;
  margin-top: auto;
}

.footer-link {
  color: hsl(0, 3%, 74%);
  transition: color 0.2s ease-in-out;
}

.footer-link:hover {
  color: hsl(0, 0%, 93%);
}
/* footer styles */

/* popup styles */
.popup {
  /* border: 1px solid palevioletred; */
  background-color: hsl(208, 100%, 97%);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1em;
  overflow: hidden;
  padding: 1em;
  display: flex;
  align-items: center;
  gap: 1em;
  min-width: 15.625em;
  z-index: 3;
}

.popup.hide {
  display: none;
}

.popup-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  font-size: 1.3em;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
}

.popup-close:hover,
.popup-close:focus {
  transform: rotate(360deg);
  color: hsl(102, 35%, 54%);
}

.popup-cover__img {
  display: block;
}

.popup-description {
  margin-top: 2em;
  text-align: justify;
}

.popup-description__title {
  margin-bottom: 0.7em;
}

.popup-description__text {
  font-size: 1.2em;
  line-height: 1.3;
}
/* popup styles */

/* @media */
@media (max-width: 75rem) {
  .popup-cover {
    display: none;
  }

  .popup-description {
    margin-top: 0.8em;
  }
}
@media (max-width: 48rem) {
  .popup-description {
    margin-top: 0.8em;
    font-size: 0.8em;
  }

  .popup-description__text {
    font-size: 1.1em;
  }
}

@media (max-width: 35rem) {
  .popup-description {
    font-size: 0.7em;
  }

  .popup-description__text {
    font-size: 1em;
  }
}
/* @media */
